html{
    scroll-behavior: smooth;
    transition-duration: 6s;
}
.sec_1_container{
    color: aliceblue;
    display: flex;
    width: 100%;
}
.link_proyects{
    width: 30%;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.link_proyects a{
    text-decoration: none;
    color: aqua;
    margin: 10px;
    padding: 10px;
}
.container_title_proyects{
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    border-radius: 20px;
    width: 70%;
    margin: 20px;
    font-size: 70px;
    overflow: hidden;
    height: 500px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    display: flex;
    align-items: center;
    flex-direction: column;
  
}
.container_title_proyects h1{
    width: 100%;
    height: 500px;
}
@media screen and (max-width:900px) {
    .sec_1_container{
        flex-direction: column;
    }
    .link_proyects{
        width: 90%;
        flex-direction: row;
    }
    .link_proyects a{
        margin: 5px;
        padding: 5px;
    }
    .container_title_proyects{
        width: 90%;
        font-size: 20px;
        height: 100px;
    }
    .container_title_proyects h1{
        width: 100%;
        height: 500px;
    }   
}